# Tauri
src-tauri/target/
src-tauri/WixTools/
src-tauri/resources/backend.exe
src-tauri/resources/backend

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
backend_runner.py
backend.spec

# PyInstaller
*.manifest
*.spec
